.header {
  background-image: linear-gradient(rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)),
    url("../images/promo/bg-pr.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  
  @include on1295 {
    gap: 41px;
    padding-right: 20px;
  }

  @include on992 {
    padding-right: 111px;
  }

  @include on768 {
    padding: 56px 33px 0;
  }

  @include on576 {
    padding-top: 50px;
  }

  @include on445 {
    padding-top: 20px;
  }

  &__content {
    margin-top: 267px;
    display: flex;
    // margin-left: 255px;
    // margin: 0 auto;
    align-items: end;
    gap: 71px;

    @include on1295 {
      align-items: center;
    }

    @include on992 {
      margin-top: 208px;
      // display: block;
      margin-bottom: 404px;
    }

    @include on768 {
      margin-top: 70px;
      margin-bottom: 68px;
    }
  }

  &__info {
    @include on992 {
      flex-basis: 692px;
    }
  }

  &__slider {
    @include on992 {
      display: none;
    }
  }

  &__button {
    margin-left: 11px;
    
    @include on768 {
      margin-left: 0;
    } 
  }
}