.theatre {
  padding: 150px 0 150px 150px;

  @include on1295 {
    padding-left: 20px;
  }

  // @include on992 {
  //   padding-right: 111px;
  // }

  @include on768 {
    padding: 90px 39px;
  }

  @include on576 {
    padding: 80px 39px 116px 33px;
  }

  @include on540 {
    padding: 40px;
  }


  &__title {
    margin-bottom: 78px;

    @include on992 {
      margin-bottom: 100px;
      font-size: 48px;
    }

    @include on768 {
      margin-bottom: 70px;
    }

    @include on576 {
      margin-bottom: 60px;
    }

    @include on540 {
      margin-bottom: 30px;
      font-size: 36px;
    }
  }

  &__container {
    // display: flex;
    // gap: 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    justify-content: end;

    @include on768 {
      display: flex;
      justify-content: space-between;
    }

    @include on576 {
      display: block;
    }
  }

  &__descr {
    // flex-basis: 40%;
    grid-column: 1/6;

    @include on1070 {
      grid-column: 3/8;
    }

    // @include on768 {
    //   grid-column: 2/8;
    // }

    @include on768 {
      flex-basis: 445px;
    }
  }

  &__subtitle {
    font-family: 'Open Sans Condensed Bold', sans-serif;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 21px;
    letter-spacing: 2.1px;

    @include on576 {
      text-align: center;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 1.5;

    @include on576 {
      margin-bottom: 19px;
    }
  }

  &__numbers {
    grid-column: 6/9;

    @include on1070 {
        grid-column: 9/13;
      }

    @include on768 {
      grid-column: 9/13;
    }
    
  }

  &__numbers-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;

    @include on576 {
      flex-direction: row;
      justify-content: space-around;
    }
  }

  &__icon {
    margin-bottom: 15px;
  }

  &__numbers-descr-text {
    font-size: 16px; 

    &--accent {
      color: $gold-color;
    }
  }



  &__photo {
    grid-column: 9/13;
    position: relative;

    @include on1070 {
      display: none;
    }
  }

  &__img {
    position: absolute;
    object-fit: cover;
    max-width: 100%;
    height: 292px;
  }
}